.loginGeneral {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginBox {
   border-color: white;
   border-width: 5%;
   width:50%;
   border-style: solid;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60px;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
    color: white;
    background: #2f75c4;
}

.reminderText {
   font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
}

.loginButton img {
    background: white;
    width: 10%;
    height: 60%;
    position: absolute;
    object-fit: contain;
    border-radius: 10%;
    left: 10px;
}
